* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Jost', sans-serif;
    color: #333136;
    background: #fff;
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 64px 165px 0;
}

.header__logo-container {
    display: flex;
    align-items: center;
    gap: 18px;
}

.header__logo {
    height: 24px;
    width: 24px;
}

.header__company-name {
    font-weight: 700;
    font-size: 24px;
    letter-spacing: 5px;
    color: #333136;
}

.header__nav-links {
    display: flex;
    gap: 42px;
}

.header__nav-link {
    text-decoration: none;
    color: #333136;
    font-size: 14px;
    letter-spacing: 2px;
    font-weight: 400;
    transition: color 0.3s ease;
}

.header__nav-link:hover {
    color: #E7816B;
}

.header__hamburger {
    display: none;
    cursor: pointer;
    font-size: 24px;
}

.hero {
    background: #E7816B url("assets/images/Background.png") center/cover;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 64px 190px;
    margin: 64px 165px;
    color: #FFFFFF;
}

.hero__title {
    font-weight: 500;
    font-size: 48px;
    margin-bottom: 24px;
}

.hero__description {
    font-size: 16px;
    max-width: 400px;
}

.hero-section {
    background: url("assets/images/home1.png") no-repeat right/cover;
    border-radius: 20px;
    padding: 80px 95px;
    margin: 64px 165px;
    min-height: 640px;
}

.hero-content {
    max-width: 540px;
}

.hero-content h1 {
    font-size: 48px;
    margin-bottom: 20px;
    color: #fff;
    font-weight: 500;
}

.hero-content p {
    font-size: 16px;
    margin-bottom: 30px;
    color: #fff;
}

.home-btn {
    background: white;
    color: black;
    border: none;
    padding: 15px 33px;
    border-radius: 8px;
    font-weight: 600;
    cursor: pointer;
    font-size: 15px;
    text-transform: uppercase;
    letter-spacing: 1px;
}

.home-btn:hover {
    background: rgb(228, 165, 142);
}

.portfolio {
    margin: 160px 165px;
}

.portfolio__grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
}

.portfolio__card {
    background: #FDF3F0;
    border-radius: 15px;
    overflow: hidden;
    text-align: center;
}

.portfolio__card-image {
    height: 320px;
    overflow: hidden;
}

.portfolio__card-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.portfolio__card-content {
    padding: 32px;
}

.portfolio__card-title {
    font-weight: 500;
    font-size: 20px;
    letter-spacing: 5px;
    color: #E7816B;
    margin-bottom: 16px;
    text-transform: uppercase;
}

.portfolio__card-description {
    font-size: 16px;
    color: #333136;
}

.services {
    margin: 0 165px 160px;
}

.services__grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 30px;
}

.services__card {
    position: relative;
    padding: 107px 0;
    border-radius: 15px;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.services__content {
    position: relative;
    z-index: 2;
    color: #FFFFFF;
}

.services__title {
    font-weight: 500;
    font-size: 40px;
    letter-spacing: 2px;
    margin-bottom: 24px;
}

.services__link {
    font-weight: 500;
    font-size: 15px;
    letter-spacing: 5px;
    color: #FFFFFF;
    text-decoration: none;
}

.services__card--app-design {
    background: #F4F4F4 url('assets/images/App.png') center/cover;
}

.services__card--graphic-design {
    background: #F4F4F4 url('assets/images/Graphic.png') center/cover;
}

.design-layout {
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 20px;
    margin: 160px 165px;
}

.left-card {
    position: relative;
    border-radius: 10px;
    min-height: 600px;
    background-size: cover;
    background-position: center;
    overflow: hidden;
}

.right-column {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.card {
    position: relative;
    border-radius: 10px;
    height: 310px;
    background-size: cover;
    background-position: center;
    overflow: hidden;
}

.overlay {
    position: absolute;
    inset: 0;
    background: rgba(0, 0, 0, 0.45);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: #fff;
}

.overlay h2 {
    font-size: 28px;
    letter-spacing: 2px;
    margin-bottom: 10px;
}

.overlay a {
    text-decoration: none;
    color: #fff;
    font-size: 15px;
    letter-spacing: 2px;
}

.overlay a:hover {
    color: #ff3c00;
}

.web-design {
    background-image: url('assets/images/web.png');
}

.app-design {
    background-image: url('assets/images/App.png');
}

.graphic-design {
    background-image: url('assets/images/Graphic.png');
}

.values-section {
    margin: 160px 165px 60px;
}

.values-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 50px;
    text-align: center;
}

.value-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 25px;
}

.value-image {
    width: 180px;
    height: auto;
}

.value-card h3 {
    font-size: 20px;
    font-weight: 700;
    letter-spacing: 3px;
    color: #333136;
    margin-bottom: 15px;
}

.value-card p {
    font-size: 16px;
    color: #7b7b7b;
    max-width: 330px;
     margin-bottom: 25px;
}

.locations {
    display: flex;
    flex-direction: column;
    gap: 32px;
    margin: 64px 165px;
}

.locations__card {
    display: flex;
    min-height: 326px;
    border-radius: 15px;
    overflow: hidden;
    gap: 30px;
}

.locations__info {
    position: relative;
    flex: 1;
    background-image: url("assets/images/image.png");
    padding: 88px 95px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-radius: 15px;
}

.locations__title {
    color: #E7816B;
    font-size: 40px;
    font-weight: 500;
    margin-bottom: 24px;
}

.locations__details {
    display: flex;
    justify-content: space-between;
    gap: 30px;
}

.locations__subtitle {
    font-size: 16px;
    font-weight: 700;
    color: #333136;
    margin-bottom: 5px;
}

.locations__text {
    color: #333136;
}

.locations__map {
    flex: 1;
    border-radius: 15px;
    overflow: hidden;
}

.locations__map-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.locations__card--reverse .locations__info {
    order: 2;
}

.locations__card--reverse .locations__map {
    order: 1;
}

.contact {
    background-color: #E7816B;
    color: #fff;
    border-radius: 15px;
    display: flex;
    justify-content: space-between;
    padding: 60px 100px;
    margin: 64px 165px;
    gap: 95px;
}

.contact__content {
    max-width: 50%;
    margin-top: 50px;
}

.contact__content h2 {
    font-size: 48px;
    margin-bottom: 32px;
}

.contact__content p {
    font-size: 16px;
}

.contact__form {
    display: flex;
    flex-direction: column;
    gap: 25px;
    width: 45%;
}

.contact__form input,
.contact__form textarea {
    background: none;
    border: none;
    border-bottom: 1px solid rgba(255,255,255,0.5);
    padding: 10px 0;
    color: #fff;
    font-size: 15px;
    outline: none;
}

.contact__form input::placeholder,
.contact__form textarea::placeholder {
    color: rgba(255,255,255,0.6);
}

.contact__form textarea {
    resize: none;
    height: 100px;
}

.contact__form button {
    background: #FFFFFF;
    color: #333136;
    border: none;
    border-radius: 8px;
    padding: 12px 25px;
    font-weight: 600;
    align-self: flex-end;
    cursor: pointer;
}

.contact__form button:hover {
    background: #FFAD9B;
    color: #fff;
}

.global-offices {
    display: flex;
    justify-content: center;
    gap: 50px;
    margin-inline: 120px;
    margin-bottom: 120px;
    flex-wrap: wrap;
}

.office-card {
    text-align: center;
}

.office-card img {
    width: 180px;
    margin-bottom: 20px;
}

.office-card h3 {
    font-size: 18px;
    letter-spacing: 2px;
    margin-bottom: 15px;
}

.office-card .btn {
    background-color: #E7816B;
    color: #fff;
    text-decoration: none;
    border-radius: 8px;
    padding: 12px 20px;
    display: inline-block;
    transition: 0.3s;
}

.office-card .btn:hover {
    background-color: #FFAD9B;
}

.cta {
    background: #E7816B url("assets/images/Background.png") center/cover;
    border-radius: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 72px 95px;
    margin: 0 165px;
    color: #FFFFFF;
    position: relative;
    z-index: 2;
}

.cta__title {
    font-weight: 500;
    font-size: 40px;
    margin-bottom: 20px;
    max-width: 268px;
}

.cta__description {
    font-size: 16px;
    max-width: 459px;
}

.cta__button {
    background: #FFFFFF;
    border-radius: 8px;
    padding: 17px 18px;
    font-weight: 500;
    font-size: 15px;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: #333136;
    text-decoration: none;
    display: inline-block;
    text-align: center;
    transition: all 0.3s ease;
    border: none;
    cursor: pointer;
}

.cta__button:hover {
    background: #FFAD9B;
    color: #FFFFFF;
}

.footer {
    background: #1D1C1E;
    padding: 200px 0 80px;
    margin-top: -100px;
    color: #FFFFFF;
}

.footer__nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 165px 40px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}

.footer__logo {
    display: flex;
    align-items: center;
    gap: 16px;
    margin-bottom: 20px;
}

.footer__logo-text {
    font-weight: 700;
    font-size: 24px;
    letter-spacing: 5px;
}

.footer__links {
    display: flex;
    gap: 42px;
    margin-bottom: 20px;
}

.footer__link {
    color: #FFFFFF;
    text-decoration: none;
    font-size: 14px;
    line-height: 14px;
    letter-spacing: 2px;
    transition: color 0.3s ease;
}

.footer__link:hover {
    color: #E7816B;
}

.footer__info {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
    margin: 31px 165px 0;
}

.footer__info-column h4 {
    font-weight: 700;
    font-size: 16px;
    opacity: 0.5;
}

.footer__info-column p {
    font-size: 16px;
    opacity: 0.5;
}

.footer__social-links {
    margin-top: 10px;
    display: flex;
    gap: 16px;
}

.footer__social-links img {
    width: 24px;
    height: 24px;
    transition: opacity 0.3s ease;
}

.footer__social-links a:hover img {
    opacity: 0.7;
}

@media (max-width: 1280px) {
    .header, .portfolio, .services, .locations, .hero-section, .values-section, .design-layout, .contact, .global-offices {
        margin-inline: 100px;
    }
    
    .hero {
        margin-inline: 100px;
    }
}

@media (max-width: 1150px) {
    .portfolio__grid {
        grid-template-columns: 1fr 1fr;
        gap: 32px;
    }

    .services__grid {
        grid-template-columns: 1fr;
    }

    .hero-section {
        padding: 50px 30px;
        margin: 80px 40px;
        background: url("assets/images/hero-small.png") no-repeat center/cover;
    }
}

@media (max-width: 1095px) {
    .locations, .header, .hero-section, .values-section, .contact {
        margin: 64px 70px;
    }
    
    .design-layout, .global-offices {
        margin-inline: 70px;
    }
}

@media (max-width: 1024px) {
    .design-layout {
        grid-template-columns: 1fr;
        gap: 25px;
    }

    .left-card {
        min-height: 250px;
    }

    .card {
        height: 250px;
    }
}

@media (max-width: 998px) {
    .locations {
        margin: 64px 39px;
    }
    
    .locations__card {
        flex-direction: column;
        gap: 0;
    }
    
    .locations__info {
        order: 2;
        height: 326px;
        padding: 88px 70px;
        margin-bottom: 120px;
    }
    
    .locations__map {
        order: 1;
        height: 326px;
        margin-bottom: 24px;
    }

    .values-section, .hero-section, .contact, .global-offices {
        margin: 120px 39px;
    }
}

@media (max-width: 968px) {
    .header {
        margin: 64px 39px 0;
    }
    
    .hero {
        margin: 64px 39px 0;
        padding: 64px 40px;
    }
    
    .hero-section, .values-section, .design-layout, .contact, .global-offices {
        margin: 64px 39px;
    }
    
    .portfolio {
        margin: 120px 39px;
    }
    
    .portfolio__grid {
        grid-template-columns: 1fr;
        gap: 32px;
    }
    
    .portfolio__card {
        display: flex;
        flex-direction: row;
        text-align: left;
    }

    .portfolio__card-image {
        width: 50%;
        min-height: 310px;
    }

    .portfolio__card-content {
        width: 50%;
        padding: 40px;
    }

    .services {
        margin: 0 39px 120px;
    }
    
    .services__card, .left-card, .card {
        height: 200px;
        padding: 0;
    }

    .contact {
        flex-direction: column;
        text-align: center;
        padding: 60px 40px;
        margin: 20px 39px;
    }

    .contact__content, .contact__form {
        width: 100%;
        max-width: 600px;
    }

    .cta {
        margin: 0 39px;
        padding: 57px 58px;
        flex-direction: column;
        text-align: center;
        gap: 32px;
    }
    
    .cta__title, .cta__description {
        max-width: 573px;
    }

    .footer__nav, .footer__info {
        margin-inline: 39px;
    }
}

@media (max-width: 900px) {
    .values-container {
        grid-template-columns: 1fr;
        gap: 60px;
    }

    .value-card {
        flex-direction: row;
        align-items: flex-start;
        text-align: left;
        gap: 30px;
    }

    .value-image {
        width: 130px;
    }
}

@media (max-width: 768px) {
    .hero-section {
        padding: 50px 30px;
        margin: 80px 40px;
    }

    .hero-content h1 {
        font-size: 32px;
    }

    .hero-content p {
        font-size: 14px;
    }

    .design-layout {
        width: 95%;
        margin: 40px auto;
    }

    .left-card, .card {
        min-height: 220px;
    }

    .overlay h2 {
        font-size: 24px;
    }
}

@media (max-width: 700px) {
    .header {
        margin-inline: 24px;
    }

    .header__nav-links {
        position: absolute;
        top: 96px;
        left: 0;
        width: 100%;
        background: rgba(0, 0, 0, 0.95);
        flex-direction: column;
        padding: 40px 24px;
        gap: 32px;
        display: none;
    }

    .header__nav-links--show {
        display: flex;
    }

    .header__nav-link {
        color: white;
        font-size: 18px;
    }
    
    .header__hamburger {
        display: block;
    }

    .hero {
        margin: 40px 0 0;
        padding: 105px 24px;
        min-height: 320px;
        border-radius: 0;
    }
    
    .hero__title {
        font-size: 32px;
    }

    .hero__description {
        font-size: 15px;
    }

    .portfolio {
        margin: 96px 24px;
    }
    
    .portfolio__card {
        flex-direction: column;
    }
    
    .portfolio__card-image {
        width: 100%;
        height: 320px;
    }
    
    .portfolio__card-content {
        width: 100%;
        text-align: center;
    }

    .services {
        margin: 0 24px 96px;
    }
    
    .services__card, .left-card, .card {
        padding: 90px 56px;
        height: 250px;
    }
    
    .services__title {
        font-size: 28px;
    }

    .cta {
        margin: 0 24px;
        padding: 64px 24px;
        margin-bottom: -180px;
        text-align: center;
    }
    
    .cta__title {
        font-size: 32px;
        line-height: 36px;
        margin-bottom: 16px;
    }
    
    .cta__description {
        font-size: 15px;
        line-height: 25px;
        margin-bottom: 24px;
    }

    .footer {
        padding: 280px 0 80px;
        margin-top: -180px;
    }
    
    .footer__nav {
        margin: 0 24px;
        flex-direction: column;
        gap: 32px;
        text-align: center;
    }
    
    .footer__links {
        flex-direction: column;
        gap: 32px;
    }
    
    .footer__info {
        margin: 30px 24px 0;
        grid-template-columns: 1fr;
        gap: 40px;
        text-align: center;
    }

    .footer__social-links {
        justify-content: center;
    }
}

@media (max-width: 650px) {
    .locations {
        margin: 64px 0;
    }
    
    .locations__card {
        border-radius: 0;
        height: 714px;
    }
    
    .locations__map {
        border-radius: 0;
    }
    
    .locations__info {
        border-radius: 0;
        padding: 80px 24px;
        margin-bottom: 40px;
    }
    
    .locations__title {
        font-size: 32px;
        text-align: center;
    }
    
    .locations__details {
        flex-direction: column;
        text-align: center;
        gap: 24px;
    }

    .contact {
        padding: 40px 25px;
        margin: 20px;
    }

    .contact__content h2 {
        font-size: 28px;
    }

    .contact__form button {
        align-self: center;
    }
}

@media (max-width: 600px) {
    .values-container {
        gap: 40px;
    }

    .value-card {
        flex-direction: column;
        align-items: center;
        text-align: center;
        gap: 20px;
    }

    .value-image {
        width: 100px;
    }
}

@media (max-width: 480px) {
    .hero-section {
        padding: 30px 20px;
        margin: 60px 20px;
    }

    .hero-content h1 {
        font-size: 28px;
    }

    .hero-content p {
        font-size: 13px;
    }

    .home-btn {
        padding: 12px 25px;
        font-size: 14px;
    }

    .overlay h2 {
        font-size: 20px;
    }

    .overlay a {
        font-size: 13px;
    }
}